@import "_footerW.scss";
@import "_headerW.scss";
@import "_mainW.scss";
@import "_registrationW.scss";
@import "_adaptation.scss";
@mixin fontW {
    font-family: "Dela Gothic One", sans-serif;
    font-weight: 300;
    font-style: normal;
  }
body {
  
    background: url("/src/img/dark.png") no-repeat top / cover;
    overflow: hidden;
    transition: background 0.5s ease-out;
}

button:hover {
background-color: rgba(0, 0, 0, 0.103);
border-radius: 10px;
transition:  0.7s ease;

}
html {
    box-sizing: border-box;
    height: 700px;
    overflow: hidden;
    min-height: 100%;
height: 100%;
}

